:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socket-connected {
  font-size: 1.5rem;
  height: .8rem;
  width: .8rem; 
  background-color: limegreen; 
  border-radius: 50%;
  display: inline-block;
  border: 1px solid orange; 
}

.socket-disconnected {
  font-size: 1.5rem;
  height: .8rem;
  width: .8rem; 
  background-color: red; 
  border-radius: 50%;
  display: inline-block;
  border: 1px solid orange; 
}

.output-container {
  display: grid;
  gap: .5rem;
  margin: 0.5rem;
}


.output-line {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2d2d2d;
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Added to remove top margin */
}

.updated-pill {
  color: #747bff;
  background-color: #2d2d2d;
  padding: 5px 10px; 
  font-size: .7em;
  border-radius: 20px; 
}

.output-line.focused {
  outline: 3px dashed #747bff;
}

.hide {
  display: none;
}

.unhide-trigger-inline:hover .hide {
  display: inline-blo;
}

